# Overview of dataset
### Course: Data Analysis and Data Mining
#### Authors: Andrey Kashin, Irina Osipova

Dataset source: https://www.backblaze.com/hard-drive-test-data.html

In [4]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

### Exploring sample of the data:

In [14]:
sample = pd.read_csv("2014/2014-05-19.csv")

print("Size of sample: {}".format(len(sample)))
print("Number of features: {}".format(len(sample.columns)))

sample.head()

Size of sample: 33342
Number of features: 85

,date,serial_number,model,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
0,2014-05-19,MJ0351YNG9Z0XA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,135,108,143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-05-19,MJ0351YNG9Z7LA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,136,104,124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-05-19,MJ0351YNGABYAA,Hitachi HDS5C3030ALA630,3000592982016,0,100,0,136,104,137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-05-19,PL1321LAG34XWH,Hitachi HDS5C4040ALE630,4000787030016,0,100,0,134,101,131,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-05-19,PL1311LAG2205A,Hitachi HDS5C4040ALE630,4000787030016,0,100,0,134,102,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Simple statistics for numeric features of sample:

In [13]:
sample.describe()

,capacity_bytes,failure,smart_1_normalized,smart_1_raw,smart_2_normalized,smart_2_raw,smart_3_normalized,smart_3_raw,smart_4_normalized,smart_4_raw,...,smart_250_normalized,smart_250_raw,smart_251_normalized,smart_251_raw,smart_252_normalized,smart_252_raw,smart_254_normalized,smart_254_raw,smart_255_normalized,smart_255_raw
count,3.334200e+04,33342.000000,33342.000000,3.334200e+04,15136.000000,15136.000000,33342.000000,33342.000000,33342.000000,33342.000000,...,97,97.000000,97,97.000000,97,97.000000,210.000000,210,0,0
mean,3.092502e+12,0.000090,112.557435,6.022833e+07,120.392640,59.005087,110.189371,479.666037,99.996701,24.140154,...,1,11923733.927835,1,23080227.958763,1,10791863.000000,111.904762,0,NaN,NaN
std,9.742706e+11,0.009485,21.890581,7.853471e+07,18.220692,50.346668,21.611724,1149.627401,0.178779,190.540512,...,0,5127026.401610,0,9900802.370172,0,4640060.115495,32.461836,0,NaN,NaN
min,8.002636e+10,0.000000,65.000000,0.000000e+00,100.000000,0.000000,70.000000,0.000000,83.000000,1.000000,...,1,185364.000000,1,362922.000000,1,165243.000000,100.000000,0,NaN,NaN
25%,2.000399e+12,0.000000,100.000000,0.000000e+00,100.000000,0.000000,92.000000,0.000000,100.000000,8.000000,...,1,9628805.000000,1,18777126.000000,1,8728485.000000,100.000000,0,NaN,NaN
50%,3.000593e+12,0.000000,109.000000,3.932160e+05,133.000000,97.000000,100.000000,0.000000,100.000000,16.000000,...,1,13643515.000000,1,26489663.000000,1,12378874.000000,100.000000,0,NaN,NaN
75%,4.000787e+12,0.000000,117.000000,1.204619e+08,135.000000,103.000000,124.000000,566.000000,100.000000,25.000000,...,1,14091182.000000,1,27119683.000000,1,12687044.000000,100.000000,0,NaN,NaN
max,4.000787e+12,1.000000,200.000000,4.588831e+08,252.000000,195.000000,253.000000,9670.000000,100.000000,17769.000000,...,1,34378288.000000,1,67014616.000000,1,31166139.000000,200.000000,0,NaN,NaN

#### Motivation to choose this dataset:
- Real-world example of important non-deterministic process
- Broad field for application of classic data analysis methods: clustering, time-series analysis, classification
- Possible practical applications. E.g predict disk failures and avoid data loss